$base-blue: #07b4f9;
.red_row{
  background-color: #FFA5A5;
}

.green_row{
  background-color: #B9FFA5;
}

#allUsers{
  border-right: 6px;
  float: left;
  overflow: auto;
}

td.sharedClickableRow, td.friendsClickableRow, tr.expenseClickable, tr.settleExpenseClickable
{
  cursor: pointer;
}

#sharedExpensesTable, #friendsExpensesContainer{
  max-width: 85%;
  overflow: auto;
}

#addExpenseTrigger, .addExpenseSubmit{
  background-color: $base-blue;
}

#settleExpenseTrigger{
  background-color: #C70039;
}

#addExpenseTrigger, #settleExpenseTrigger
{
  float: right;
  margin-right: 1% !important;
  margin-top: 1% !important;
}

#addExpenseInput{
  margin-left: 20%
}

.add_expense_form_inputs , .add_expense_bill_input{
  // margin-left: 2%;
  width: 20% !important;
}
.unequal_share_label{
  margin-top: 2%;
}

#errorsList{
  color: red;
}
