.red_row{
  background-color: #FFA5A5;
}

.green_row{
  background-color: #B9FFA5;
}

#allUsers{
  border-right: 6px;
  float: left;
  overflow: auto;
}

td.sharedClickableRow
{
  cursor: pointer;
}

#sharedExpensesTable, #friendsExpensesContainer{
  max-width: 85%;
  overflow: auto;
}
